/* CARD STUFF with OVERRIDE */

.wh-category-tag-wrapper {
	text-align: right;
}

.task-board-category-container {
	display: inline;
}

.task-tags {
    display: inline;
    font-size: .75em;
    margin-left: .25em;
}
.task-tags ul {
    display: inline;
}
.task-tags li {
    color: var(--color-primary);
    padding: 1px 2px;
    margin-top: -2px;
    border: 1px dotted #333;
    border-radius: 4px
}



/* WEEK HELPER */

.weekhelper-textarea-config {
	width: 100%;
}

.weekhelper-config-weak-text {
	font-style: italic;
	opacity: .75;
	font-size: .75em;
}

#currentDateHeader {
	margin-left: .5em;
	font-size: 0.45em;
	font-style: italic;
	opacity: .6;
}

.weekhelper-small-config-text {
	font-size: 0.75em;
	font-style: italic;
}

.weekhelper-weekpattern-dim  {
	margin-left: .1em;
	font-size: 0.8em;
	font-style: italic;
	opacity: .5;
}

.weekhelper-time-box-container {
	position: fixed;
	bottom: 0;
	right: 0;

	padding: .5em .75em;
	border-radius: 7px;
	background: rgba(30, 40, 70, 0.75);
	backdrop-filter: blur(2px);
	font-size: .75em;
}

#updateCurrentTimeBox {
}


/* Remaining Box */

.wh-remaining-box {
	display: inline-block;
	line-height: 1.25em;
}

.wh-remaining-days {
	display: inline-block;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
    padding: 1px 3px 1px 4px;
}

.wh-remaining-weeks {
	display: inline-block;
	border-width: 1px;
	border-style: solid;
    border-radius: 3px;
    padding: 1px 3px 1px 4px;
}




/* HORUS VIEW */

/* COLORS */

.thv-weak-color {
	color: rgb(100, 100, 120);
}

.thv-title-color {
	color: rgb(100, 100, 150);
}

.thv-estimated-color {
	color: rgb(190, 90, 90);
}

.thv-spent-color {
	color: rgb(60, 180, 100);
}

.thv-remaining-color {
	color: rgb(40, 120, 170);
}


/* BOARD and TIMEBOX */

.thv-board-column {
	display: inline-block;
	opacity: .7;
	font-size: .9em;
}
.thv-board-column > span {
	margin-left:  .5em;
}

.thv-column-wrapper {
	margin-left: 0.5em;
	text-align: right;
}

.thv-box-wrapper {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}
.thv-box-wrapper-board {
	display: flex;
	width: 85%;
	margin: auto;
	flex-wrap: wrap;
	justify-content: center;
}
.thv-box-item {
	display: flex;
	width: 47%;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: rgba(100, 100, 125, 0.08);
	padding: .5em .75em;
	margin: .25em;
}
.thv-box-item:hover {
	filter: brightness(1.2);
}
@media only screen and (max-width: 1000px) {
	/* For mobile phones: */
	.thv-box-wrapper-board, .thv-box-item {
	width: 100%;
  }
}
.thv-box-item .tvh-box-single-item-20 {
	width: 20%;
}
.thv-box-item .tvh-box-single-item-40 {
	width: 40%;
}
.thv-box-item:last-child {
	margin-bottom: 1em;
}
.thv-box-item-full {
	width: 100% !important;
	margin: 0 .75em 1em;
}
.thv-box-all {
	opacity: .75;
	filter: saturate(.8);
}
.thv-font-small {
	font-size: .75em;
}
.thv-font-smallB {
	font-size: .85em;
}
.thv-font-big {
	font-size: 1.3em;
}
.thv-font-weak {
	opacity: .3;
}

/* Task Progress Bar - based on TaskProgressBar plugin by Valentino Pesce */
.container-task-progress-bar
{
	background-color: rgba(130, 130, 130, 0.5);
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.task-progress-bar
{
	height: 20px;
	padding-right: 3px;
	border-radius: 5px;
	font-weight: bold;
	white-space: nowrap;
}

.progress-color
{
	background-color: rgba(130, 130, 200, 0.75);
}

.progress-color-50
{
	background-color: rgba(120, 180, 200, 0.75);
}

.progress-color-75
{
	background-color: rgba(80, 200, 150, 0.75);
}

.progress-color-100
{
	background-color: rgba(50, 220, 50, 0.75);
}

.progress-color-100-undone
{
	background-color: rgba(220, 180, 50, 0.75);
}

.task-summary-progress-bar
{
	margin: 1em 0em;
	text-align: right;
}
.task-summary-progress-bar div
{
	padding-top: .3em;
}

/* DASHBOARD */
.thv-100-percent {
	opacity: 0.3;
}


/* AUTOMATIC PLAN GUI */
.plan-container {
}
.plan-hidden {
	display: none;
}
ul.plan-list {
	list-style: none;
	width: 100%;
}
div.plan-entry-line {
	width: 100%;
	display: block;
}
div.plan-entry-time {
	display: block;
	position: relative;
	width: 100%;
	margin-top: .5em;
	vertical-align: top;
}
@container (min-width: 500px) {
	div.plan-entry-time {
		display: inline-block;
		width: 20%;
		margin-top: 0em;
	}
}
@container (min-width: 1250px) {
	div.plan-entry-time {
		width: 12%;
	}
}
div.plan-entry-task {
	display: block;
	position: relative;
}
@container (min-width: 500px) {
	div.plan-entry-task {
		display: inline-block;
		width: 50%;
	}
}
@container (min-width: 900px) {
	div.plan-entry-task {
		width: 70%;
	}
}
@container (min-width: 1250px) {
	div.plan-entry-task {
		width: 80%;
	}
}
.plan-hover:hover {
	text-decoration: underline !important;
}
.plan-icon {
	color: black !important;
	font-size: 1.25em;
}
.plan-day {
	font-weight: bold;
	margin-top: 2em;
}
.plan-ml {
	margin-left: .5em;
}
.plan-ml-first {
	margin-left: 0em;
}
.plan-inline-block {
	display: inline-block;
}

/* automatic plan sticky div */
.plan-sticky-container {
	transition: all .3s ease;
	position: fixed;
	bottom: 2.5em;
	right: 0;
	width: 20%;
	height: 12em;
	overflow: hidden;

	padding-top: 0;
	margin-top: -1em;
	padding-right: .75em;
	padding-left: .75em;
	padding-bottom: .5em;

	border-radius: 7px;
	background: rgba(35, 40, 60, 0.75);
	backdrop-filter: blur(2px);
	font-size: .6em;

	scroll-behavior: smooth;
}
.plan-sticky-container:hover {
	width: 40%;
	height: 20em;
	overflow: auto;

	padding: .75em .5em;

	font-size: .75em;
}
.plan-sticky-container button {
	font-size: .75em;
	display: none;
}
.plan-sticky-container:hover button {
	display: inline;
}
